.movie {

  &--wrapper {
    a {
      text-align: center;
      text-decoration: none;
      color: $c-black;
      display: block;

      &:hover {
        .movie--title {
          text-decoration: underline;
        }
      }

    }
  }


  &--image {

    &--placeholder {
      background: $c-gray-6b;
      min-height: 460px;
    }

  }

  &--title {
    color: $c-black;
    line-height: 30px;
  }

  &--date {
    color: $c-black;
    display: inline-block;
  }

  &--genre {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    color: #fff;
    background-color: #28a745;
  }

}