.movie-page {

  &__top {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__image {
    max-width: 400px;
  }

  &__main {
    padding: 2rem;
    @include media('>=tablet-landscape') {
      max-width: calc(100% - 400px);
      padding: 0;
      padding-left: 2rem;
    }
  }

  &__meta {
    margin-bottom: 1rem;
    span {
      display: inline-block;
      padding: .25em .4em;
      font-size: 75%;
      font-weight: 700;
      line-height: 1;
      text-align: center;
      white-space: nowrap;
      vertical-align: baseline;
      border-radius: .25rem;
      color: $c-white;
      background-color: #17a2b8;
    }
  }

  &__genre,
  &__popularity {
    span {
      display: inline-block;
      padding: .25em .4em;
      font-size: 75%;
      font-weight: 700;
      line-height: 1;
      text-align: center;
      white-space: nowrap;
      vertical-align: baseline;
      border-radius: .25rem;
      color: $c-white;
      background-color: #ffc107;
    }
  }

  &__info {
    line-height: 20px;
    margin-bottom: 1rem;
  }

  &__cast {
    margin: 1rem 0;
    padding: 2rem;
    @include media('>=tablet-landscape') {
      padding: 0;
    }
  }

  &__reviews {
    margin-bottom: 2rem;

    .field__items > div {
      margin-bottom: 1rem;
      padding-bottom: 1rem;
      border-bottom: 1px solid $c-gray-3e;
    }
  }

}